.custom-control-inline {
    margin-right: 1rem;
    float: left;
}

.label-important, .badge-important {
    background: #f74d4d;
    color: white
}

#sidebar > ul > li.open.submenu > a {
    border-bottom: none !important;
}